* {
    border: 1px solid red;
}

/* Desktop View */

body {
    background-color: #e7f2ef;
    padding : 0;
    margin : 0;
}

/* Navigation */

header {
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

header img {
    height: 100px;
    margin: 10px 0 0 20px;
}

header h1 {
    float: right;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
    color: #E7F2EF;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    font-weight: 900;
}

#navbar{
    font-family: "Expletus Sans", sans-serif;
    font-size: 30px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;;
    right: 0;
    width: 100%;
    background-color: #19183b;
    border-bottom: 7px solid #7bad9f;
    padding-bottom: 35px;
    z-index: 1;
}

#navbar ul {
    list-style-type: none;
}

#navbar a{
    float: right;
    display: block;
    color: #E7F2EF;
    text-decoration: none;
    padding: 7px 40px;
}

#navbar a:hover {
    color: #7bad9f;
}

/* Main */
.home-main {
    margin-top: 200px;
    padding: 0;
}

.title-page {
    font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif;
    background-color: yellow;
    margin: 0 auto;
    width: 70%;
    padding: 0;
    text-align: center;
    font-size: 100px;
    border-radius: 40px;
    text-shadow: 5px 5px 10px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #c5d2ce;
    font-weight: 900;
}

.title-week {
    text-align: center;
    font-size: 100px;
    font-family: "Enriqueta", Verdana, Geneva, Tahoma, sans-serif;
}

.fig-highlight {
    position: relative;
    max-width: 600px;
    height: 800px;
    margin-bottom: 0;
    margin-right: 100px;
    margin-left: 100px;
    background-color: yellow;
    float: left;
}

.highlight-week figure img {
    height: auto;
    width: 100%;
}

.fig-caption {
    padding: 20px 0;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(25, 24, 59, 0.5);
    font-weight: 900;
    font-size: 50px;
    font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif;
}

.highlight-week p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 45px;
    font-family: "Enriqueta", Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
    padding-bottom: 100px;
}
